/*親子関係はpadding 兄弟関係はmargin
  実体参照使うとレイアウト崩れなくなる
  空白を付けるときは上と左！*/

@charset "UTF-8";

body {
  font-family: "Lato", sans-serif;
  color: #333;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

a {
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
}

/*---------------------------------------------------*/

.main {
  padding-top: 70px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__icon {
  color: #4e4e4e;
}

.header__contact-button:hover {
  transition: 0.3s;
  color: #333;
}

.header__contact-button {
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp {
    display: inline-block;
  }

  .header__contact-button {
    display: none;
  }

  .menu {
    position: relative;
    height: 20px;
    border-radius: 4px;
    padding: 10px;
  }

  .hamburger_line {
    position: absolute;
    right: 20%;
  }

  .menu,
  .hamburger_line {
    border: 1px solid #ddd;
    width: 25px;
  }

  .hamburger_line1 {
  top: 25%;
  }

  .hamburger_line2 {
  top: 50%;
  }

  .hamburger_line3 {
  top: 75%;
  }
}

/*---------------------------------------------------*/

.main-inner,
.concept__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-inner {
  padding: 250px 0;
}

.main {
  background-color: #f2f2f2;
}

.theme__h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme__lead {
  margin-top: 20px;
  color: #c0c0c0;
  font-size: 30px;
}

.theme__h1,
.theme__lead {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main-inner {
    padding: 160px 0 130px;
  }

  .theme__h1 {
    font-size: 80px;
  }
}
/*---------------------------------------------------*/

.concept {
  background-color: #74cfae;
  color: #fff;
  text-align: center;
}

.concept-inner {
  padding: 50px 0;
}

.concept__section {
  display: flex;
}

.concept__img {
  margin-left: 65px;
}

.concept__h2 {
  font-size: 24px;
}

.concept__lead {
  font-size: 20px;
  line-height: 30px;
  width: 650px;
  margin-top: 35px;
}

.concept__rap{
  display: flex;
  flex-flow: column;
  margin-left: auto;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .concept__section,
  .concept__rap {
    display: inline-block;
  }

  .concept__img {
    margin-left: auto;
  }

  .concept__rap{
    margin-top: 20px;
  }

  .concept__lead {
    width: auto;
  }

  .concept-inner {
    padding-bottom: 25px;
  }
}


/*---------------------------------------------------*/

.post {
  background-color: #f2f2f2;
}

.post-inner {
  padding: 60px 0 40px;
}

.post__h2 {
  font-size: 24px;
  color: #4e4e4e;
}

.post__list__item {
  margin: 80px 0 0 100px;
}

.post__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 40px;
}

.post__list__item-img {
  opacity:0.7;
  transition: 0.3s;
}

.post__textarea__lead {
  width: 580px;
  font-size: 20px;
  margin: 0 90px 70px 0;
}

.post-button {
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  width: 100%;
  transition: 0.3s;
}

.post__textarea {
  display: flex;
  line-height: 30px;
  justify-content: center;
  margin-top: 90px;
}

.post-button,
.post__textarea__lead,
.post__h2 {
  text-align: center;
}

.post-button:hover {
  transition: 0.3s;
  color: #333;
}

.post__list__item-img:hover {
  transition: 0.3s;
  opacity:1;
}

.post__list__item:nth-child(3n+1) {
  margin-left: 0;
}

.post__list__item:nth-child(-n+3) {
  margin-top: 0;
}


@media screen and (max-width: 1199px) {
  .post-inner {
    padding-bottom: 70px;
  }

  .post__list__item {
    margin: 0;
  }

  .post__textarea__lead {
    margin: auto;
  }

  .post__textarea {
    margin-top: 80px;
  }

  .post__textarea,
  .post__textarea__lead,
  .post__list {
    display: block;
  }

  .post-button {
    width: auto;
    height: 10px;
    line-height: 10px;
  }

  .post__list,
  .button__area {
    margin-top: 40px;
  }

  .post__textarea,
  .post__list {
    text-align: center;
  }

  .post__textarea__lead,
  .post__list__item-img {
    width: 100%;
  }

  .post__list__item-img {
    vertical-align: bottom;
  }

  .post__list__item:nth-child(3n+1) {
    margin-top: 80px;
  }

  .post__list__item:first-child {
    margin-top: 40px;
  }
}

/*---------------------------------------------------*/

.skill-section {
  background-color: #4e4e4e;
}

.skill-section-inner {
  padding: 70px 0 100px;
}

.skill-section__h2 {
  color: #fff;
  font-size: 24px;
}

.skill-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.skill__list-img__text {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  margin-top: 10px;
}

.skill-section__area {
  margin-left: 180px;
}

.skill-section__area:first-child {
  margin-left: 0;
}

.skill__list-img__text,
.skill-section__h2 {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .skill-section__list,
  .skill__list-img__text {
    display: block;
  }

  .skill-section__area {
    text-align: center;
    margin: auto;
    margin-top: 88px;
  }

  .skill-section__area:first-child {
    margin-top: 0;
  }
}

/*---------------------------------------------------*/

.sns {
  background-color: #f2f2f2;
}

.sns-inner{
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns__button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-sizing:border-box;
  color: #fff;
  font-size: 12px;
  padding: 40px 20px;
  width: 185px;
  transition: 0.3s;
}

.sns__button:hover {
  transition: 0.3s;
  background-color: #fff;
}

.sns__button-color {
  color: #74cfae;
}

@media screen and (max-width: 767px) {
  .sns-inner{
    padding: 50px 15px;
  }

  .sns__button,
  .sns-inner {
    width: auto;
  }

  .sns__button,
  .sns-inner {
    display: block;
  }
}

/*---------------------------------------------------*/

.footer{
  background-color: #74cfae;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 25px;
}

.footer__copyright {
  display: inline-block;
  color: #fff;
}
