/*親子関係はpadding 兄弟関係はmargin
  実体参照使うとレイアウト崩れなくなる*/

@charset "UTF-8";

body {
  font-family: "Lato", sans-serif;
  color: #333;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

a {
  display: inline-block;
}

/*---------------------------------------------------*/

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; 
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__icon {
  color: #4e4e4e;
}

.header__contact-button {
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.header__contact-button:hover {
  transition: 0.3s;
  color: #333;
}

/*---------------------------------------------------*/

.main-inner,
.concept__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-inner {
  padding: 320px 0 250px;
}

.main {
  background-color: #f2f2f2;
}

.theme__h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme__lead {
  margin-top: 20px;
  color: #c0c0c0;
  font-size: 30px;
}

.theme__h1,
.theme__lead {
  text-align: center;
}
/*---------------------------------------------------*/

.concept {
  background-color: #74cfae;
  color: #fff;
  text-align: center;
}

.concept-inner {
  padding: 50px 0 0 0;
}

.concept__section {
  display: flex;
  height: 345px;
}

.concept__img {
  margin-left: 65px;
}

.concept__h2 {
  font-size: 24px;
  margin-bottom: 35px;
}

.concept__lead {
  font-size: 20px;
  line-height: 30px;
  width: 650px;
}

.concept__rap{
  display: flex;
  flex-flow: column;
  margin: 0 0 0 auto;
  justify-content: center;
}

/*---------------------------------------------------*/

.post {
  background-color: #f2f2f2;
}

.post-inner {
  padding: 60px 0 40px;
}

.post__h2 {
  font-size: 24px;
  color: #4e4e4e;
}

.post__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 40px;
}

.post__list__item-img {
  margin: 0 100px 80px 0;
  opacity:0.7;
  transition: 0.3s;
}

.post__textarea__lead {
  width: 580px;
  font-size: 20px;
  margin: 0 90px 70px 0;
}

.post-button {
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  width: 100%;
  transition: 0.3s;
}

.post__textarea {
  display: flex;
  line-height: 30px;
  justify-content: center;
  margin-top: 10px;
}

.post-button,
.post__textarea__lead,
.post__h2 {
  text-align: center;
}

.post-button:hover {
  transition: 0.3s;
  color: #333;
}

.post__list__item-img:hover {
  transition: 0.3s;
  opacity:1;
}

/*testの一番最初の要素 の中のpost__list-img指定*/

.post__list__item:nth-child(3n) .post__list__item-img {
  margin-right: 0;
}


/*---------------------------------------------------*/

.skill-section {
  background-color: #4e4e4e;
}

.skill-section-inner {
  padding: 70px 0 100px;
}

.skill-section__h2 {
  color: #fff;
  font-size: 24px;
}

.skill-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.skill__list-img__text {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  margin-top: 10px;
}

.skill-section__area {
  margin: 0 0 0 180px;
}

.skill-section__area:first-child {
  margin-left: 0;
}

.skill__list-img__text,
.skill-section__h2 {
  text-align: center;
}

/*---------------------------------------------------*/

.sns {
  background-color: #f2f2f2;
}

.sns-inner{
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns__button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-sizing:border-box;
  color: #fff;
  font-size: 12px;
  padding: 40px 20px;
  width: 185px;
  transition: 0.3s;
}

.sns__button:hover {
  transition: 0.3s;
  background-color: #fff;
}

.sns__button-color {
  color: #74cfae;
}

/*---------------------------------------------------*/

.footer{
  background-color: #74cfae;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 25px;
}

.footer__copyright {
  display: inline-block;
  color: #fff;
}
